@use "../variables.scss" as v;

button {
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: v.$color-primary;
  background-color: v.$color-green;

  &:hover {
    cursor: pointer;
    background-color: v.$color-green-light;
  }
}
